body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightpurple; 
}

.outer-container {
    background-color: lightpurple; 
    padding: 20px;
    border-radius: 10px;
}

.clock {
    width: 300px;
    height: 300px; 
    background-image: url('clock-background.png'); 
    background-size: cover;
    position: relative;
}

.hour-hand,
.minute-hand {
    position: absolute;
    background-image: url('clock-hand.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    transform-origin: bottom; 
}

.hour-hand {
    width: 8px; 
    height: 70px; 
    bottom: 50%;
    transform: translateX(-50%) rotate(90deg); 
}

.minute-hand {
    width: 4px;
    height: 90px; 
    bottom: 50%;
    transform: translateX(-50%) rotate(180deg);
}

